@using eCollabro.Client.Models.Store;
@using eCollabro.Client.Models.Core;
@using eCollabro.Common;
@using System.Web.Optimization;
@using eCollabro.Web.Base;
@model ProductModel
@if (!Request.IsAjaxRequest())
{
    @Scripts.Render("~/bundles/product")
}
@{
    List<PermissionEnum> userPermissions = (List<PermissionEnum>)ViewBag.UserPermissions;
    bool canEdit = userPermissions.Contains(PermissionEnum.EditContent);
    bool canDelete = userPermissions.Contains(PermissionEnum.DeleteContent);
    bool canAdd = userPermissions.Contains(PermissionEnum.AddContent);

    List<PageButton> pageButtons = new List<PageButton>();
    pageButtons.Add(new PageButton { Id = "btnProducts", ButtonText = "Products", CssClass = "btn btn-success", Icon = "th-list", Method = "openProducts(" + Model.ProductCategoryId + ")" });
    if ((canEdit && !Model.ProductId.Equals(0)) || (canAdd && Model.ProductId.Equals(0)))
    {
        pageButtons.Add(new PageButton { Id = "btnSave", ButtonText = "Save", CssClass = "btn btn-primary", Icon = "floppy-disk", Method = "saveProduct()" });
    }
}
<script type="text/javascript">
    $(document).ready(function () {
        $productContentEditor = $("#ProductSpecifications").cleditor()[0];
        $productContentEditor.focus();
    });
</script>
<div id="divProduct" ng-controller="manageProductController" ng-init="loadProduct(@Model.ProductId,@Model.ProductCategoryId)">
    @Html.Partial("_PageHeader", new PageHeaderModel { ViewId = "Product", PageTitle = "Product - Add/Edit", ValidateForm = true, PageButtons = pageButtons })
    @using (Html.BeginForm("Product", "Product", FormMethod.Post, new { role = "form", id = "frmProduct", @class = "form-horizontal" }))
    {

        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(m => m.ProductTitle, new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.ProductTitle, new { ng_model = "product.ProductTitle", @class = "form-control", maxlength = "50" })
                @Html.ValidationMessageFor(m => m.ProductTitle)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ProductDescription, new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.TextAreaFor(m => m.ProductDescription, new { ng_model = "product.ProductDescription", @class = "form-control", maxlength = "255" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ProductSpecifications, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.ProductSpecifications, new { ng_model = "product.ProductSpecifications", style = "width: 724px; height: 197px;" })
                @Html.ValidationMessageFor(m => m.ProductSpecifications)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ProductCategoryId, new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                <select data-ng-model="selectedProductCategory" ng-options="productCategory.ProductCategoryName for productCategory in productCategories" class="form-control" ng-change="updateProductCategory()"></select>
            </div>
        </div>
         <div class="form-group">
            @Html.LabelFor(m => m.ProductTypeId, new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                <select data-ng-model="selectedProductType" ng-options="productType.ProductType for productType in productTypes" class="form-control" ng-change="updateProductType()"></select>
            </div>
        </div>
         <div class="form-group">
            @Html.LabelFor(m => m.ProductPrice, new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.TextBoxFor(m => m.ProductPrice, new { ng_model = "product.ProductPrice", @class = "form-control", maxlength = "50" })
                @Html.ValidationMessageFor(m => m.ProductPrice)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.IsActive, new { ng_model = "product.IsActive" })
                    @Html.LabelFor(m => m.IsActive)
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-11">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Content Setting</div>
                <div class="panel-body">
                    <div class="form-group" style="padding-left:2px">
                        <label class="checkbox-inline">
                            @Html.CheckBoxFor(m => m.IsAnomynousAccess, new { ng_model = "product.IsAnomynousAccess" }) @Html.LabelFor(m => m.IsAnomynousAccess)
                        </label>
                        <label class="checkbox-inline">
                            @Html.CheckBoxFor(m => m.IsCommentsAllowed, new { ng_model = "product.IsCommentsAllowed" }) @Html.LabelFor(m => m.IsCommentsAllowed)
                        </label>
                        <label class="checkbox-inline">
                            @Html.CheckBoxFor(m => m.IsLikeAllowed, new { ng_model = "product.IsLikeAllowed" }) @Html.LabelFor(m => m.IsLikeAllowed)
                        </label>
                        <label class="checkbox-inline">
                            @Html.CheckBoxFor(m => m.IsRatingAllowed, new { ng_model = "product.IsRatingAllowed" }) @Html.LabelFor(m => m.IsRatingAllowed)
                        </label>
                        <label class="checkbox-inline">
                            @Html.CheckBoxFor(m => m.IsVotingAllowed, new { ng_model = "product.IsVotingAllowed" }) @Html.LabelFor(m => m.IsVotingAllowed)
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            @Html.Partial("_PageFooter", new PageFooterModel
                {
                    PageButtons = pageButtons
                })
        </div>
    }
</div>
